@import "../index.scss";

#section1 {
  background-color: #e1dedc; /* 배경 색상 설정 */
  // /* 피치 -> 연노랑 */
  // background-image: linear-gradient(135deg, #fcd0ad 10%, #f9f7b0 100%);
  // /* 연파랑 -> 라벤더 */
  background-image: linear-gradient(135deg, #c2dfee 10%, #d7b9e4 100%);
  /* 민트 그린 -> 베이비 블루 */
  //background-image: linear-gradient(135deg, #b2ecd9 10%, #9edcff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  & > .page__title {
    position: absolute;
    padding: 20px;
    font: 40px $font-natoSans;
    color: rgb(37, 37, 37);
    letter-spacing: 5px;
  }

  & > .page__title:first-child {
    top: 30%;
    left: 10%;
  }

  & > .page__title:nth-child(2) {
    top: 36%;
    left: 10%;
  }

  & > .page__title:nth-child(3) {
    top: 45%;
    left: 10%;
    font-size: 20px;
    letter-spacing: normal;
  }
}
