@charset "UTF-8";
/* Roboto, Nato sans */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/* Roboto, Nato sans....End*/
/* @mixin 모음 */
/* HTML, BODY, SECTION */
html {
  overflow: hidden;
}

html,
body {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}

.section {
  width: 100%;
  height: 100%;
}

#section1 {
  background-color: #f2f9ff;
}

#section2 {
  background-color: white;
}

#section3 {
  /* 민트 그린 -> 베이비 블루 */
  background-color: white;
}

#section4 {
  background-color: white;
}

#section4 {
  background-color: white;
}

/* HTML, BODY, SECTION.... END*/
/* 헤더 header */
.header > .header__list {
  position: fixed;
  z-index: 1;
  display: flex;
  width: 100%;
  margin: 0;
  padding-left: 40%;
  list-style: none;
  font: 16px "Roboto", sans-serif;
  color: rgb(121, 147, 235);
  border: 1px solid white;
  /* 선 bottom 빼고 제거 */
  border-top: none;
  border-left: none;
  border-right: none;
}
.header > .header__list li {
  padding: 18px 25px;
  cursor: pointer;
}
.header > .header__list > .header__list li:hover {
  background-color: rgba(255, 252, 252, 0.5);
  transition-duration: 200ms;
}
.header > .header__list > .header__list__li__active {
  background-color: rgba(255, 252, 252, 0.5);
}

/* 헤더 header.... END */
/* 오른쪽 sideBar */
.sideBar > .sideBar__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 50%;
  right: 1%;
  margin-top: -72.5px;
  transform: translateY(-10%);
  list-style: none;
  padding-left: 0px;
  background-color: transparent;
  color: rgb(173, 173, 173);
  z-index: 1;
}
.sideBar > .sideBar__list > li {
  cursor: pointer;
}
.sideBar > .sideBar__list > .sideBar__list__li__active {
  color: rgb(121, 147, 235);
}

/* 오른쪽 sideBar.... END */
/* [페이지 제목] [서브 제목] */
.page__title {
  padding-top: 100px;
  padding-left: 30px;
  display: flex;
  gap: 15px;
}
.page__title span:first-child {
  /* About */
  font: 38px "Roboto", sans-serif;
  color: rgb(71, 106, 221);
}
.page__title span:nth-child(2) {
  /* Me */
  font: 38px "Roboto", sans-serif;
}
.page__title #page__title__sub {
  /* 서브타이틀 */
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  padding-top: 10px;
  font: 17px "Noto Sans KR", sans-serif;
  color: rgb(73, 73, 73);
}

#section3 > .stack__container {
  position: relative;
  width: 90%;
  height: 80%;
  margin: 0 auto;
}
#section3 > .stack__container > img:last-child {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: 2;
}
#section3 > .stack__container > .stack__icon {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  transition: transform 0.3s ease-in-out;
}
#section3 > .stack__container img:nth-child(1) {
  top: 10%;
  left: 35%;
}
#section3 > .stack__container img:nth-child(2) {
  top: 25%;
  right: 10%;
}
#section3 > .stack__container img:nth-child(3) {
  top: 50%;
  right: 20%;
}
#section3 > .stack__container img:not(:last-child):hover {
  transform: scale(1.1);
}/*# sourceMappingURL=section3.css.map */