@charset "UTF-8";
/* Roboto, Nato sans */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/* Roboto, Nato sans....End*/
/* @mixin 모음 */
/* HTML, BODY, SECTION */
html {
  overflow: hidden;
}

html,
body {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}

.section {
  width: 100%;
  height: 100%;
}

#section1 {
  background-image: linear-gradient(135deg, #c2dfee 10%, #d7b9e4 100%);
  background-attachment: fixed;
  background-size: cover;
}

#section2 {
  background-color: #FAFAFF;
}

#section3 {
  /* 민트 그린 -> 베이비 블루 */
  background-color: #FAFAFF;
}

#section4 {
  background-color: #FAFAFF;
}

#section4 {
  background-color: #FAFAFF;
}

/* HTML, BODY, SECTION.... END*/
/* 헤더 header */
.header > .header__list {
  position: fixed;
  z-index: 1;
  display: flex;
  width: 100%;
  margin: 0;
  padding-left: 40%;
  list-style: none;
  font: 16px "Roboto", sans-serif;
  color: rgb(155, 155, 155);
  border: 1px solid white;
  /* 선 bottom 빼고 제거 */
  border-top: none;
  border-left: none;
  border-right: none;
}
.header > .header__list li {
  padding: 18px 25px;
  cursor: pointer;
}
.header > .header__list > .header__list li:hover {
  background-color: rgba(255, 252, 252, 0.5);
  transition-duration: 200ms;
}
.header > .header__list > .header__list__li__active {
  background-color: rgba(255, 252, 252, 0.5);
}

/* 헤더 header.... END */
/* 오른쪽 sideBar */
.sideBar > .sideBar__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 50%;
  right: 5%;
  margin-top: -72.5px;
  transform: translateY(-10%);
  list-style: none;
  cursor: pointer;
  padding-left: 0px;
  background-color: transparent;
  color: rgb(173, 173, 173);
  z-index: 1;
}
.sideBar .sideBar__list > .sideBar__list__li__active {
  color: rgb(60, 151, 57);
}

/* 오른쪽 sideBar.... END */
/* [페이지 제목] [서브 제목] */
.page__title {
  padding-top: 100px;
  padding-left: 30px;
  display: flex;
  gap: 15px;
}
.page__title span:first-child { /* About */
  font: 38px "Roboto", sans-serif;
  color: rgb(71, 106, 221);
}
.page__title span:nth-child(2) { /* Me */
  font: 38px "Roboto", sans-serif;
}
.page__title #page__title__sub { /* 서브타이틀 */
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  padding-top: 10px;
  font: 17px "Noto Sans KR", sans-serif;
  color: rgb(73, 73, 73);
}

#section2 {
  position: relative;
  /* 페이지 콘텐츠 2개 영역 */
  /* 이거 ul-li를 감싸고 있는 부모 div임 */
}
#section2 > .page__content {
  margin: 0 auto;
  display: flex;
  width: 80%;
  height: 70%;
  border: 1px solid black;
}
#section2 > .page__content > #content__left, #section2 > .page__content #content__right {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid black;
}
#section2 > .page__content > #content__left > .top, #section2 > .page__content #content__right > .top {
  border: 1px solid black;
  height: 50%;
}
#section2 > .page__content > #content__left > .bottom, #section2 > .page__content #content__right > .bottom {
  border: 1px solid black;
  height: 50%;
}
#section2 > .keywordList__container {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 68px;
}
#section2 > .keywordList__container ul {
  position: relative;
  font: 18px "Noto Sans KR", sans-serif;
  height: 68px;
  width: auto;
  margin: 0px 0px 0px 20px;
  padding-left: 0px;
  list-style: none;
  overflow: hidden;
}
#section2 > .keywordList__container > ul > li {
  position: absolute;
  border: 1px solid black;
  background-color: rgb(214, 230, 245);
  padding: 20px 30px;
  margin: 0px;
  transition: top 0.5s ease;
  width: 300px;
}/*# sourceMappingURL=section2.css.map */