@import "../index.scss";

#section2 {
  position: relative;

  /* 페이지 콘텐츠 2개 영역 */
  > .page__content {
    margin: 0 auto;
    display: flex;
    width: 80%;
    height: 70%;
    border: 1px solid black;

    > #content__left,
    #content__right {
      display: flex;
      flex-direction: column;
      width: 50%;
      border: 1px solid black;

      > .top {
        border: 1px solid black;
        height: 50%;
      }

      > .bottom {
        border: 1px solid black;
        height: 50%;
      }
    }
  }

  /* 이거 ul-li를 감싸고 있는 부모 div임 */
  > .keywordList__container {
    position: absolute;
    top: 40%;
    width: 100%;

    > ul li {
      list-style: none;
      position: absolute;
      height: 20px;
      padding: 0px 30px;
      transition: all 0.8s;
    }
  }
}
